{% load static %}


  <!-- ================ start footer Area ================= -->
  <footer class="footer-area section-gap">
			<div class="footer-bottom row align-items-center">
				<p class="footer-text m-0 col-lg-8 col-md-12" style="padding-left:3%; padding-top:1.2%; padding-bottom:1.2%">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This website is build by Apoorva Chaddha</p>
				<div class="col-lg-4 col-md-12 footer-social">
					<a href="https://www.linkedin.com/company/internsveda/"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-instagram"></i></a>
				</div>
			</div>
		</div>
	</footer>
  <!-- ================ End footer Area ================= -->
