{% extends 'base.html' %}
{% load static %}
{% block content %}
 <!-- ================ start banner Area ================= -->
 <section class="home-banner-area">
  <div class="container">
    <div class="row justify-content-center fullscreen align-items-center">
      <div class="col-lg-5 col-md-8 home-banner-left">
        <h2 class="text-white">
          Best Training and Internship
        </h2>
        <h1 style="color:#E8762E">
          INTERNSVEDA
        </h1>
        <p class="mx-auto text-white  mt-20 mb-40">
          We offer transformative training programs and live courses, empowering individuals to upskill 
          and excel in their careers. Dive into practical learning with industry experts for a brighter 
          professional future.
        </p>
        <div class="btn-main-head">
          <a href="internships.html"><button class="btn text-uppercase">Explore</button></a>
        </div>
      </div>
      <div class="offset-lg-2 col-lg-5 col-md-12 home-banner-right">
        <img class="img-fluid" src="{% static 'img/header-img.png' %}" alt="" />
      </div>
    </div>
  </div>
</section>
<!-- ================ End banner Area ================= -->

  <!-- ================ Start Feature Area ================= -->
  <section class="feature-area">
    <div class="container-fluid">
      <div class="feature-inner row">
        <div class="col-lg-2 col-md-6">
          <div class="feature-item d-flex">
            <i class="ti-book"></i>
            <div class="ml-20">
              <h4>Latest Technology</h4>
              <p>
                We help you learn latest trends in current technological field.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-6">
          <div class="feature-item d-flex">
            <i class="ti-cup"></i>
            <div class="ml-20">
              <h4>Best Internships</h4>
              <p>
                We believe in the approach of learning to implementation.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-6">
          <div class="feature-item d-flex border-right-0">
            <i class="ti-desktop"></i>
            <div class="ml-20">
              <h4>Perfect Modules</h4>
              <p>
                Our modules are designed as per the user requirement.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ================ End Feature Area ================= -->
  
  <!-- ================ Start Programs Area ================= -->
  <section class="categories">
    <div class="container categories-container">
      <div class="categories_left">
        <h1>Explore Our
          Internship Programs</h1>
          <p>Discover diverse internship opportunities tailored to your interests and career goals. Explore hands-on experiences and valuable learning opportunities with our internship programs.</p>
          <a href="internships.html" class="btn">Learn More...</a>
      </div>
      <div class="categories_right">
        <article class="category">
          <span class="category_icon"><img src="{%static 'img/web.png'%}" alt="" style="height:50px"></span>
          <h5>Website Development</h5>
          <p>Embark on a website development journey with our website development course. Learn html, css, javascript and Node.js to build dynamic, efficient web applications. Elevate your skills for a thriving tech career.</p>
        </article>
        <article class="category">
          <span class="category_icon"><img src="{%static 'img/data.png'%}" alt="" style="height:50px"></span>
          <h5>Data Science</h5>
          <p>Dive into the world of Data Science, where analytics and insights meet. Uncover the power of data through courses covering statistics, machine learning, and data visualization for informed decision-making.  </p>
        </article>
        <article class="category">
          <span class="category_icon"><img src="{%static 'img/programming.png'%}" alt="" style="height:50px"></span>
          <h5>Programming</h5>
          <p>Excel in programming with our diverse courses. From fundamental languages like Python and Java to advanced topics in data structures and algorithms, our programs equip you with the skills for coding excellence.</p>
        </article>
        <article class="category">
          <span class="category_icon"><img src="{%static 'img/dataentry.png'%}" alt="" style="height:50px"></span>
          <h5>Data Entry</h5>
          <p>Hone your data entry skills with our specialized courses. Learn efficient data management, keyboarding techniques, and software proficiency, ensuring precision and speed in handling diverse data entry tasks for enhanced productivity.</p>
        </article>
        <article class="category">
          <span class="category_icon"><img src="{%static 'img/ai.png'%}" alt="" style="height:50px"></span>
          <h5>AI/ML</h5>
          <p>Delve into the future of technology with our AI/ML courses. Explore machine learning algorithms, neural networks, and deep learning, gaining expertise to develop intelligent solutions that drive innovation in artificial intelligence.</p>
        </article>
        <article class="category">
          <span class="category_icon"><img src="{%static 'img/courses.png'%}" alt="" style="height:50px"></span>
          <h5>Core Courses</h5>
          <p>Explore fundamental Core Courses in Computer Science, covering Operating Systems and Database Management Systems. Gain essential knowledge for a strong foundation in computer science and software development.</p>
        </article>
      </div>
    </div>
  </section>
  <!-- ================ End Programs Area ================= -->
 
  <!-- ================ End Clients Area ================= -->
 <div class="container-client">
  <div class="slider">
    <h1>Our Clients</h1>
    <section class="slide-track">
      <div class="slide"><img src="{%static '/img/c1.png'%}" alt=""></div>
      <div class="slide"><img src="{%static '/img/c2.png'%}" alt=""></div>
      <div class="slide"><img src="{%static '/img/c3.png'%}" alt=""></div>
      <div class="slide"><img src="{%static '/img/c4.png'%}" alt=""></div>
      <div class="slide"><img src="{%static '/img/c5.png'%}" alt=""></div>
      <div class="slide"><img src="{%static '/img/c1.png'%}" alt=""></div>
      <div class="slide"><img src="{%static '/img/c2.png'%}" alt=""></div>
      <div class="slide"><img src="{%static '/img/c3.png'%}" alt=""></div>
      <div class="slide"><img src="{%static '/img/c4.png'%}" alt=""></div>
      <div class="slide"><img src="{%static '/img/c5.png'%}" alt=""></div>
      <div class="slide"><img src="{%static '/img/c1.png'%}" alt=""></div>
      <div class="slide"><img src="{%static '/img/c2.png'%}" alt=""></div>
      <div class="slide"><img src="{%static '/img/c3.png'%}" alt=""></div>
      <div class="slide"><img src="{%static '/img/c4.png'%}" alt=""></div>
      <div class="slide"><img src="{%static '/img/c5.png'%}" alt=""></div>
      <div class="slide"><img src="{%static '/img/c1.png'%}" alt=""></div>
      <div class="slide"><img src="{%static '/img/c2.png'%}" alt=""></div>
      <div class="slide"><img src="{%static '/img/c3.png'%}" alt=""></div>
      <div class="slide"><img src="{%static '/img/c4.png'%}" alt=""></div>
      <div class="slide"><img src="{%static '/img/c5.png'%}" alt=""></div>
    </section>
  </div>
 </div>
 
  <!-- ================ End Clients Area ================= -->

  <!-- ================ Start Pricing Area ================= -->
  <div class="pricing-table">
    <div class="details">
      <h1>Explore Our Pricing</h1>
    </div>
    <div class="grid">
      <div class="box">
        <h5 class="title">Self-Placed</h5>
        <div class="price"><b>₹3,999</b></div>
        <div class="features">
          <div>Recorded Classes</div>
          <div>1 Major & 1 Minor projects</div>
          <div>Exams</div>
          <div>Certifications</div>
          <div>Mock Interviews</div>
        </div>
        <div class="button">
          <a href="https://rzp.io/l/w7AH5UjNbO"><button>Pay Here</button></a>
        </div>
      </div>
      <div class="box advance">
        <h5 class="title">Advance</h5>
        <div class="price"><b>₹10,000</b></div>
        <div class="features">
          <div>First 2 month live + recorded</div>
          <div>Last 2 month recorded trainings</div>
          <div>From basic to advance level</div>
          <div>1 major and 1 minor Project(both phase)</div>
          <div>Examinations</div>
          <div>Mock Interviews</div>
        </div>
        <div class="button">
          <a href="https://rzp.io/l/y213tavs0"><button>Pay Here</button></a>
        </div>
      </div>
      <div class="box">
        <h5 class="title">Mentor-Led</h5>
        <div class="price"><b>₹5,999</b></div>
        <div class="features">
          <div>Live + Recordings</div>
          <div>1 Major & 1 Minor projects</div>
          <div>Exams</div>
          <div>Certified Certification</div>
          <div>Mock Interviews</div>
        </div>
        <div class="button">
          <a href="https://rzp.io/l/WXtQZFG6mM"><button>Pay Here</button></a>
        </div>
      </div>
    </div>
  </div>
  <!-- ================ End Pricing Area ================= -->

  <!-- ================ Start Registration Area ================= -->
  <section class="registration-area">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-5">
                <div class="section-title text-left text-white">
                    <h2 class="text-white">
                        Watch Our Trainers <br>
                        in Live Action
                    </h2>
                    <br><br>
                </div>
            </div>
            <div class="offset-lg-3 col-lg-4 col-md-6">
                <div class="course-form-section">
                    <h3 class="text-white">Get In Touch</h3>
                    <p class="text-white">It is high time for learning</p>
                    <form class="course-form-area contact-page-form course-form text-right" action="index.html" id="myForm" method="post">
                      {% csrf_token %}
			                {{ form.as_p }}  
                      <div class="form-group col-md-12">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Name'">
                        </div>
                        <div class="form-group col-md-12">
                            <input type="text" class="form-control" id="subject" name="subject" placeholder="Phone Number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone Number'">
                        </div>
                        <div class="form-group col-md-12">
                          <input type="text" class="form-control" id="category" name="category" placeholder="Internship Category" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Internship Category'">
                        </div>
                        <div class="form-group col-md-12">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'">
                        </div>
                        <div class="col-lg-12 text-center">
                            <button class="btn text-uppercase">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

  <!-- ================ End Registration Area ================= -->

  {% endblock %}